<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sam.samproject">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".SamApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".branchmanager.BranchManagerActivity"/>
        <activity android:name=".personalbanker.PersonalBankerActivity"/>
        <activity android:name=".relationmanager.RelationshipManagerActivity"></activity>
        <activity android:name=".personalbanker.SignatureActivity"></activity>
        <activity android:name=".personalbanker.NewsActivity"/>
        <activity android:name=".personalbanker.WebActivity"/>
    </application>

</manifest>